.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
*.tsbuildinfo
.build/
/index.js

dsh-plugin-desktop/dist/
dsh-plugin-desktop/lib/
dsh-community-market/lib/
dsh-plugin-loomloom/lib/

.env.yarn
